footer {
  display: block;
  max-width: 1024px;
  margin: 0 auto;
  article{
    vertical-align:top;
    display: block;
    width: 100%;
    color: #c35c5f;
    font-family: 'Crimson Text', serif;
    li{
      list-style-type: none;
    a{
      color: #c35c5f;
      text-decoration: none;
    }
    }
  }
}

@media screen and (min-width: 1000px){

  footer {
    article{
      display: inline-block;
      width: 33%;
      
    }
  }


}
