.header{
  display: none;
}
#responsive-menu-button{
  display: block;
  background: #c35c5f!important;
}

#responsive-menu-container{
  background: #c35c5f!important;
  width: 100%!important;
}

#responsive-menu-search-box{
  display: none!important;
}
#responsive-menu-additional-content{
  display: none!important;
}

#responsive-menu{
    background: #c35c5f!important;
    padding: 15px!important;
}
.responsive-menu-item-link{
  background: #c35c5f!important;
  border: none!important;
  font-size: 30px!important;
  margin-bottom: 20px!important;
}

  #menu-langue{
    display: none;
  }

@media screen and (min-width: 1000px){
  #responsive-menu-button{
    display: none;
  }
  .header{
    display: block;
    width: 1024px;
    height: 160px;
    line-height: 120px;
    background: white;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
    box-sizing: border-box;
    font-family: 'Crimson Text', serif;
    font-size: 20px;
    .logo{
      display: inline-block;
      padding-top: 30px;
      margin-right: 50px;
      box-sizing: border-box;


    }


    nav.nav{

      vertical-align: top;
      display: inline-block;

      li{
        display: inline-block;
        margin-right: 94px;
      #menu-item-22{
        margin-right: 0px!important;
      }
        a{
          text-decoration: none;
          color: #c35c5f;
        }




      }


    }
  .menu .active > a {
        border-bottom: 3px solid #c35c5f;
        padding-bottom: 10px;




    }
  }

  #menu-langue{
    display: inline-block;
    margin-top: -50px!important;
    text-align: right;
    margin-right: 10%;
    li{
      list-style-type: none;
      display: inline-block;
      font-size: 12px;
      a{
        text-decoration: none;
        color: #c35c5f;
      }
    }

  }

}
