.rgpd{

  margin: 0 auto;

  .histoire{
    margin-top: -10px;
    background: #e5e5db;
    padding-left: 20px;
    padding-bottom: 0px;

    h2 {

    }

    p{

      display: inline-block;
      width: 100%;
      color: #7f8981;
      font-family: 'Lato', sans-serif;
      font-size: 14px;
    }
    div:first-child{
      display: inline-block;
      width:100%;
    }




  }

  h2{

    text-align: left;
    font-family: 'Crimson Text', serif;
    color: #c35c5f;
    font-weight: 400;
    text-decoration: underline;
    font-size: 30px;
  }
  p{
    text-align: left;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
  }

  article.mission{
    max-width: 1024px;
    margin: 0 auto;
    h3 {
      color: #8a9380;
      font-family: 'Crimson Text', serif;
      font-weight: 400;
      font-size: 25px;
    }

    strong{
      font-family: 'Crimson Text', serif;
      font-weight: 400;
      color: #cbcec7;
      font-size: 20px;
    }
  }
}
